html, body {
    height: 100%;
    margin: 0;
}

.crypto-info{
text-align: center;
min-height: 100%;
}

#logo{
    padding-bottom: 10px;
    height: 30px;
    width: auto;
}
#crypto-name{
    display: inline-block; 
    padding: 0;
    margin: 0;
}
.extra-info{
    padding: 10px;
    margin-right: 10px;
    list-style: none;
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    width: 100%;
}
li{
    display: inline-block;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #212529;
  color:#fff;
  }