/* ====================== General */

body {
    background-color: #e6ecf0;
  }
  
  body.error-404 {
    background-color: #1da1f2;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .btn {
    border-radius: 50px;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  /* ======================= Nav */
  
  .navbar {
    background-color: #fff;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
  }
  
  .navbar a {
    color: #66757f;
    font-size: 13px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #1c94e0;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand > img {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 20px;
    border-radius: 2px;
  }
  
  .nav > li > a > img {
    width: 32px;
    border-radius: 32px;
  }
  
  ul.nav.navbar-nav {
    align-items: center;
  }
  
  ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
  }
  
  nav form.navbar-form {
    display: flex;
    position: relative;
  }
  
  @media (max-width: 468px) {
    nav form.navbar-form {
      display: none;
    }
  }
  
  nav + .container {
    margin-bottom: 1rem;
  }
  /* ============================ Signed out home */
  
  .home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-shadow: 0 0 8px #66757f;
  }
  
  .home-hero .btn {
    text-shadow: none;
    position: relative;
    z-index: 1;
    width: 150px;
  }
  
  .home-hero h1 {
    margin-bottom: 4rem;
  }
  
  .home-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  /* ========================== Signup/Login */
  
  #user_form input.form-control {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
  }
  
  
  /* Home page */
  .heading{
    display: flex;
    justify-content: center;
  }

