/* Navbar */

.navbar {
    background-color: #fff;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.navbar a {
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.navbar a:hover {
    color: #1c94e0;
}

ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
}

nav form.navbar-form {
    display: flex;
    position: relative;
}

@media (max-width: 468px) {
    nav form.navbar-form {
        display: none;
    }
}

nav+.container {
    margin-bottom: 1rem;
}


/* General */

body {
    background-color: #e6ecf0;
}

.form-control {
    margin-bottom: 20px;
}