/* Navbar */

.navbar {
    background-color: #212529;
    height: 50px;
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.navbar a {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.navbar a:hover {
    color: #1c94e0;
}

ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
}

nav form.navbar-form {
    display: flex;
    position: relative;
}

@media (max-width: 468px) {
    nav form.navbar-form {
        display: none;
    }
}


/* General */

body {
    background-color: #e6ecf0;
}