{% extends 'base.html' %}

{% block content %}
<div class="top">
    <h1>{{name}}</h1>
    <img id="logo" src="" alt="logo" />
</div>
<div id="information">
    <h6 id="date_added">Date added to Coin Market Cap: </h6>
    <h6 id="cmc_id">Coin Market Cap ID: </h6>
    <p id="description"></p>
    <p id="slug">Official Slug: </p>
    <p id="symbol">Official Symbol: </p>
    <p id="twitter_username">Twitter Handle: @</p>
    <p id="reddit_username">Subreddit URL: /r/</p>
</div>

<script src="/static/crypto.js"></script>
{% endblock %}