{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/stylesheets/profile.css">
<body>
    <div class="profile-info">
        <h1>Your Profile Information</h1>
        <hr>
        <p>Your Username: <strong>{{user.username}}</strong></p>
        <p>The email for this account: <strong>{{user.email}}</strong></p>
        <hr>
        <h6 class="favorites">Your favorites:</h6>
        <ul>
            {% for favorite in favorites %}
            <strong>{{favorite}}</strong>
            <br />
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock %}